{% extends 'enroll/base.html' %} {% load static %} {% block content %}
<div class="container-mt-5">
  <div class="row">
    <div class="col-md-5">
      <h4 class="text-center clart alert-info mt-3">Add New Student</h4>
      <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" class=" text-center btn btn-success " value="ADD" />
      </form>
    </div>


    <div class="col-md-7 ">
      <h4 class="text-center clart alert-info mt-3">Show Student Information</h4>
      {% if stu %}
      <table class="table table-hover table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {%for st in stu%}
    <tr>
      <th scope="row">{{st.id}}</th>
      <td>{{st.name}}</td>
      <td>{{st.email}}</td>
      <td>{{st.password}}</td>
      <td><a href="{% url 'update' st.id %}" class="btn btn-warning">Edit</a>
      <form action="{% url 'delete' st.id %}" method="post" class="d-inline">
       {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete"></form>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
       
      {%else%}
      <h4 class="text-center alert alert-warning">No data</h4>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
